<h1>Segmenting and Clustering Neighborhoods in Toronto</h1>

In [143]:
import pandas as pd
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
#I use pandas to scrape the webpage
web = pd.read_html(url)
table=web[0]

In [144]:
#Ingoring the 'Not assigned' boroughs 
table = table.set_index("Borough")
table = table.drop("Not assigned", axis=0)
table = table.reset_index()
#re-ordereing the columns
table = table[['Postcode','Borough','Neighbourhood']]

In [88]:
table.head(10)

  Postcode           Borough     Neighbourhood
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto      Harbourfront
3      M6A        North York  Lawrence Heights
4      M6A        North York    Lawrence Manor
5      M7A      Queen's Park      Not assigned
6      M9A      Queen's Park      Queen's Park
7      M1B       Scarborough             Rouge
8      M1B       Scarborough           Malvern
9      M3B        North York   Don Mills North

In [145]:
#how many "not assigned" neighbourhood are?
table[table['Neighbourhood']=='Not assigned']

  Postcode       Borough Neighbourhood
5      M7A  Queen's Park  Not assigned

In [146]:
#there is just one: index 5. Let's change the neighbourhood name by the borough
table.iloc[5]['Neighbourhood']=table.iloc[5]['Borough']
table.head(10)

  Postcode           Borough     Neighbourhood
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto      Harbourfront
3      M6A        North York  Lawrence Heights
4      M6A        North York    Lawrence Manor
5      M7A      Queen's Park      Queen's Park
6      M9A      Queen's Park      Queen's Park
7      M1B       Scarborough             Rouge
8      M1B       Scarborough           Malvern
9      M3B        North York   Don Mills North

In [180]:
#group by postcode and combinate the neighbourhood
df=table.groupby(['Postcode','Borough'])['Neighbourhood'].apply(lambda x: ', '.join(x)).reset_index()
df.head()

  Postcode      Borough                           Neighbourhood
0      M1B  Scarborough                          Rouge, Malvern
1      M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough       Guildwood, Morningside, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

In [182]:
df.shape

(103, 3)